body {background-color:rgb(162, 201, 191);}

h1.a1 {color:rgb(61, 34, 214);text-shadow: 2px 2px 5px rgba(51, 19, 190, 0.842);}
table, th, td { border:1px solid black; width:100%}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }